<form class="navbar-form navbar-left" role="search" action="/search" method="get">
	<div class="form-group">
		<input name="q" type="text" class="search-input form-control" placeholder="Search the shop" value="{{ search.terms | escape }}">
	</div>
</form>

<ul class="nav navbar-nav navbar-right">
	{% for i in (1..5) %}
		{% capture show_link %}link_{{ i }}{% endcapture %}
		{% capture link_text %}link_{{ i }}_text{% endcapture %}
		{% capture link_link %}link_{{ i }}_link{% endcapture %}
		{% if settings[show_link] %}
			<li><a href="{{ settings[link_link] }}">{{ settings[link_text] }}</a></li>
		{% endif %}
	{% endfor %}
	{% if shop.customer_accounts_enabled %}
		{% if customer %}
			<li>
				<a href="/account">My Account</a>
			</li>
		{% else %}
			<li>
				{{ 'Log in' | customer_login_link }}
			</li>
			<li>
				{{ 'Register' | customer_register_link }}
			</li>
		{% endif %}
	{% endif %}
	<li><a href="/cart" class="cart_link">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a></li>
</ul>