<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ 'fav_icon_60_60.png' | asset_url }}">
  	<link rel="apple-touch-icon" sizes="76x76" href="{{ 'fav_icon_76_76.png' | asset_url }}">
  	<link rel="apple-touch-icon" sizes="120x120" href="{{ 'fav_icon_120_120.png' | asset_url }}">
  	<link rel="apple-touch-icon" sizes="152x152" href="{{ 'fav_icon_152_152.png' | asset_url }}">
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

	<title>
		{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}  - Wikipedia t-shirts - Wikipedia merchandise - Wikipedia apparel
	</title>
	<meta name="keywords" content="Wikipedia, wikimedia, t-shirt, tee shirt, jacket, hoodie, onesies, men, women, kids, accessories, pen, notebook, scarf, pins, badges, stickers, buttons, edit wikipedia" />
	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}" />
	{% endif %}

	<link rel="canonical" href="{{ canonical_url }}" />

	<!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	{% include 'open-graph-tags' %}
	{% include 'twitter-card' %}

	{{ content_for_header }}

	{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
	{{ 'style.scss' | asset_url | stylesheet_tag }}

	{{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' | stylesheet_tag }}

	<!--[if lt IE 9]>
		{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
	<![endif]-->

	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
	{% if template contains 'customers' %}
		{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
	{% endif %}

	<!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
	{{ 'shopify_common.js'  | shopify_asset_url | script_tag }}

	{{ 'option_selection.js' | shopify_asset_url | script_tag }}

	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
	{{ 'bootstrap.min.js' | asset_url | script_tag }}
	{{ 'instafeed.min.js' | asset_url | script_tag }}
	{{ 'header.js' | asset_url | script_tag }}

	<script>jQuery('html').removeClass('no-js').addClass('js');</script>

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

<div id="off-navigation">
	{% include 'navigation' %}
</div>

<div id="site-wrap">
	<nav class="navbar navbar-default" role="navigation" id="menu">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" id="off-canvas-menu">
					<img src="{{ 'menu_collapse.svg' | asset_url }}">
				</button>
				<a class="navbar-brand" href="/">{{ shop.name }}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% include 'navigation' %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="clear"></div>

	<div id="main" role="main">
		{{ content_for_layout }}
	</div>

	
  	<footer>
        <div class="footerWrapper">
            <div class="container">
              	<div class="one-fifth right">
                    <aside>
                        <h3>Join our Mailing List</h3>
                        <p>
                            <form method="post" target="_blank" action="http://wikimediafoundation.us4.list-manage2.com/subscribe/post?u=438f0ff3a0fa6a75eeaea7498&id=906a788d5c">
                                <input name="EMAIL" class="emailInput" placeholder="Your Email Address">
                      		</form>
                        </p>
                    </aside>
                    <aside>
                        <p class="socialLinks">
                            <a class="w" target="_blank" href="http://wikipedia.org">Wiki</a>
                            <a class="i" target="_blank" href="https://instagram.com/wikipediastore">Instagram</a>
                            <a class="t" target="_blank" href="https://twitter.com/Wikipediastore">Twitter</a>
                            <a class="f right" target="_blank" href="https://www.facebook.com/wikipedia">Facebook</a>
                        </p>
                    </aside>
                </div>
                <div class="one-fifth">
                    <aside>
                        <h3>Help</h3>
                        <p><a href="/pages/faq">FAQ</a></p>
                        <p><a href="/pages/shipping">Shipping</a></p>
                        <p><a href="/pages/payment-methods">Payment Methods</a></p>
                        <p><a href="/pages/returns-and-exchanges">Returns & Exchanges</a></p>
                       <p><a href="/pages/returns-and-exchanges">Problem With Order?</a></p>
                    </aside>
                </div>
                <div class="one-fifth">
                    <aside>
                        <h3>Contact</h3>
                        <p><a href="https://docs.google.com/forms/d/1WsN3kPOgvVcJSrSWQLmveOAI3UFFKzRDOeVSuuQojGo/viewform">We<strong> &hearts; </strong>Feedback</a></p>
                        <p><a href="mailto:merchandise@wikimedia.org">Email Us</a></p>
                        <p><a href="/pages/unsubscribe">Unsubscribe</a></p>
                    </aside>
                </div>
                <div class="one-fifth">
                    <aside>
                        <h3>Legal</h3>
                        <p><a href="/pages/terms-of-service">Terms of Service</a></p>
                        <p><a href="/pages/privacy-policy">Privacy Policy</a></p>
                    </aside>
                </div>
                <div class="clear"></div>
                <div class="logoInfo">
                    <p>All content is available under the Creative Commons Attribution-ShareAlike 3.0 License unless otherwise noted.</p>
                    <p>Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. Wikipedia® is a registered trademark of the Wikimedia Foundation.</p>
                    <p>See the Wikimedia Trademark Policy for more details.</p>
                  	<a target="_blank" href="https://wikimediafoundation.org/wiki/Home">WikiMedia Foundation</a>
                </div>
            </div>
        </div>
    </footer>

	<!--[if lt IE 8]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	{{ 'shop.js'  | asset_url | script_tag }}
	<div class="menu-mask"></div>
</div>
</body>
</html>
