<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

	<title>
		{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}" />
	{% endif %}

	<link rel="canonical" href="{{ canonical_url }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% include 'open-graph-tags' %}
	{% include 'twitter-card' %}

	{{ content_for_header }}

	{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
	{{ 'style.scss' | asset_url | stylesheet_tag }}

	{{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' | stylesheet_tag }}

	<!--[if lt IE 9]>
		{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
	<![endif]-->

	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
	{% if template contains 'customers' %}
		{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
	{% endif %}

	<!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
	{{ 'shopify_common.js'  | asset_url | script_tag }}

	{{ 'option_selection.js' | asset_url | script_tag }}

	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
	{{ 'bootstrap.min.js' | asset_url | script_tag }}
	{{ 'instafeed.min.js' | asset_url | script_tag }}
	{{ 'header.js' | asset_url | script_tag }}

	<script>jQuery('html').removeClass('no-js').addClass('js');</script>

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

<ul id="off-navigation">
	<form class="navbar-form navbar-left" role="search" action="/search" method="get">
		<div class="form-group">
			<input name="q" type="text" class="search-input form-control" placeholder="Search the shop" value="{{ search.terms | escape }}">
		</div>
	</form>

	{% for i in (1..5) %}
		{% capture show_link %}link_{{ i }}{% endcapture %}
		{% capture link_text %}link_{{ i }}_text{% endcapture %}
		{% capture link_link %}link_{{ i }}_link{% endcapture %}
		{% if settings[show_link] %}
			<li><a href="{{ settings[link_link] }}">{{ settings[link_text] }}</a></li>
		{% endif %}
	{% endfor %}
	<li><a href="/cart" class="cart_link">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a></li>
</ul>

<div id="site-wrap">
	<nav class="navbar navbar-default" role="navigation" id="menu">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" id="off-canvas-menu">
					<img src="{{ 'menu_collapse.svg' | asset_url }}">
				</button>
				<a class="navbar-brand" href="/">{{ shop.name }}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search" action="/search" method="get">
					<div class="form-group">
						<input name="q" type="text" class="search-input form-control" placeholder="Search the shop" value="{{ search.terms | escape }}">
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					{% for i in (1..5) %}
						{% capture show_link %}link_{{ i }}{% endcapture %}
						{% capture link_text %}link_{{ i }}_text{% endcapture %}
						{% capture link_link %}link_{{ i }}_link{% endcapture %}
						{% if settings[show_link] %}
							<li><a href="{{ settings[link_link] }}">{{ settings[link_text] }}</a></li>
						{% endif %}
					{% endfor %}
					{% if shop.customer_accounts_enabled %}
						{% if customer %}
							<li>
								<a href="/account">My Account</a>
							</li>
						{% else %}
							<li>
								{{ 'Log in' | customer_login_link }}
							</li>
							<li>
								{{ 'Register' | customer_register_link }}
							</li>
						{% endif %}
					{% endif %}
					<li><a href="/cart" class="cart_link">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="clear"></div>

	<div id="main" role="main">
		{{ content_for_layout }}
	</div>

	<footer>
		<div class="container">

		<h1>Site map in site footer</h1>

		{% if linklists.footer.links.size > 0 %}
			<p role="navigation">
			{% for link in linklists.footer.links %}
				<a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a>
			{% endfor %}
			</p>
		{% endif %}

		{% unless shop.enabled_payment_types == empty %}
			<div class="payment-types">
			{% for type in shop.enabled_payment_types %}
				<img width="40" src="{{ type | payment_type_img_url }}" />
			{% endfor %}
			</div>
		{% endunless %}

		<p role="contentinfo" class="small-print">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}.</p>

		</div>
	</footer>

	<!--[if lt IE 8]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	{{ 'shop.js'  | asset_url | script_tag }}

</div>
</body>
</html>
