{% paginate collection.products by 50 %}

<div
	class="collection_header"
	style="background-image: url({{ collection.image | img_url: 'master' }})">
	<div class="container">
		<p>{{ collection.description }}</p>
		<h3>{{ collection.title }}</h3>
	</div>
</div>

<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">{{ collection.title }}</li>
	</ol>
</div>

<div  class="container">
	<div class="row">
	{% for product in collection.products %}

		{% assign col_width = 4 %}
		{% if forloop.index < 3 %}
			{% assign col_width = 6 %}
		{% endif %}

		<div class="col-sm-{{col_width}} product_grid">
			<a
				href="{{ product.url }}"
				class="product_image"
				style="background-image: url({{ product.featured_image | product_img_url: 'grande' }})"></a>
			<a href="{{ product.url }}" class="product_details">
				{{ product.title }}
				<span class="price">{{ product.price | money }}</span>
			</a>

		</div>
	{% else %}
		<p>There are no products in this view.</p>
	{% endfor %}
	</div>
</div>

{% if paginate.pages > 1 %}
<div class="container">
	{{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}

<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>
