<div id="carousel" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	{% for i in (1..4) %}
		{% capture show_slide %}slide_{{ i }}{% endcapture %}
		{% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
		{% capture link %}slide_{{ i }}_link{% endcapture %}
		{% capture heading %}slide_{{ i }}_heading{% endcapture %}
		{% capture sub_heading %}slide_{{ i }}_sub_heading{% endcapture %}
		{% capture alt %}slide_{{ i }}_alt{% endcapture %}
		{% if settings[show_slide] %}
			<div
				class="item {% if i == 1 %}active{% endif %}"
				style="background-image: url({{ image | asset_url }})"
			>
				<a href="{{ settings[link] }}">
				<div class="container carousel-text">
					<p>{{ settings[sub_heading] }}</p>
					<h3>{{ settings[heading] }}</h3>
				</div>
				</a>
			</div>
		{% endif %}
	{% endfor %}
	</div>
</div>

<div class="container">
	{% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
		{% assign page = pages[settings.homepage_page] %}
		<div class="intro rte grid-margins">
			{{ page.content }}
		</div>
	{% endunless %}


	{% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
		{% assign collection = collections[settings.homepage_collection] %}
		<h2>Shop by collection</h2>
		<a href="/collections/">View All</a>
		<hr>

		<div class="row">
			<div class="col-md-6">
				<a
					class="homepage_collection"
					style="background-image:url({{ collection.image | img_url: 'grande' }})"
					href="{{ collection.url }}">
					{{ collection.title }}
				</a>
			</div>

			<div class="col-md-6">
				{% for product in collection.products limit:2 %}
					<a
						class="homepage_product"
						style="background-image: url({{ product.featured_image | product_img_url: 'grande' }})"
						href="{{ product.url }}"></a>
				{% else %}
					<p>
						You have no products in your {{ collections[settings.homepage_collection].title }} collection.
						<a href="http://www.shopify.com/admin/collections">Add some.</a>
					<p>
				{% endfor %}
			</div>
		</div>
	{% endunless %}
</div>

{% if settings.instagram_show %}
<br>
<div class="container">
		<h2 id="instagram_heading">
			<a href="http://instagram.com/{{ settings.instagram_user_name}}">
				@{{ settings.instagram_user_name}}
			</a>
		</h2>

		<a href="http://instagram.com/{{ settings.instagram_user_name}}" class="instagram_link">
			<img src="{{ 'instagram.png' | asset_url }}" />
			<span>Wikipedia store on Instagram</span>
		</a>
		<hr>
		<input type="hidden" id="instagram_access_token" value="{{ settings.instagram_access_token }}">
		<input type="hidden" id="instagram_user_id" value="{{ settings.instagram_user_id }}">
</div>
<div id="instagram_container"><div id="instagram"></div></div>
<div class="aboutUsWrapper">
    <div class="container">
        <h2>About us</h2>
        <div class="left">
             <p>Wikipedia volunteers are special. They hail from all across the globe, representing every professional and personal experience one can imagine. They donate tons of hours per year to writing and editing Wikipedia. Without them, we would not exist.</p>
          <p>We can’t thank them enough - but we’re trying. That’s why we created the <a target="_blank" href="https://meta.wikimedia.org/wiki/Merchandise_giveaways">Merchandise Giveaway Program</a>, amongst other projects. Through it, any Wikipedia user can nominate a Wikipedia contributor to receive a free gift in the mail.</p>
        </div>
        <div class="right">
             <p>We had a great time finding creative and sustainable merchandise for this program. When people started asking if they could buy our shirts, bags and pens, we thought - <i>why not?</i></p>
             <p>What goes around, comes around. We invite you to support the community with your purchase. Thank you for being a part of it!</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endif %}