<div id="carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	{% for i in (1..4) %}
		{% capture show_slide %}slide_{{ i }}{% endcapture %}
		{% if settings[show_slide] %}
			<li data-target="#carousel" data-slide-to="{{ i }}" {% if i == 1 %} class="active" {% endif %}></li>
		{% endif %}
	{% endfor %}
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	{% for i in (1..4) %}
		{% capture show_slide %}slide_{{ i }}{% endcapture %}
		{% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
		{% capture link %}slide_{{ i }}_link{% endcapture %}
		{% capture heading %}slide_{{ i }}_heading{% endcapture %}
		{% capture sub_heading %}slide_{{ i }}_sub_heading{% endcapture %}
		{% capture alt %}slide_{{ i }}_alt{% endcapture %}
		{% if settings[show_slide] %}
			<div
				class="item {% if i == 1 %}active{% endif %}"
				style="background-image: url({{ image | asset_url }})"
			>
				<a href="{{ settings[link] }}">
				<div class="container carousel-text">
					<p>{{ settings[sub_heading] }}</p>
					<h3>{{ settings[heading] }}</h3>
				</div>
				</a>
			</div>
		{% endif %}
	{% endfor %}
	</div>
</div>

<div class="container">
	{% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
		{% assign page = pages[settings.homepage_page] %}
		<div class="intro rte grid-margins">
			{{ page.content }}
		</div>
	{% endunless %}


	{% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
		{% assign collection = collections[settings.homepage_collection] %}
		<h2>Shop by collection</h2>
		<a href="/collections/">View All</a>
		<hr>

		<div class="row">
			<div class="col-md-6">
				<a
					class="homepage_collection"
					style="background-image:url({{ collection.image | img_url: 'grande' }})"
					href="{{ collection.url }}">
					{{ collection.title }}
				</a>
			</div>

			<div class="col-md-6">
				{% for product in collection.products limit:2 %}
					<a
						class="homepage_product"
						style="background-image: url({{ product.featured_image | product_img_url: 'grande' }})"
						href="{{ product.url }}"></a>
				{% else %}
					<p>
						You have no products in your {{ collections[settings.homepage_collection].title }} collection.
						<a href="http://www.shopify.com/admin/collections">Add some.</a>
					<p>
				{% endfor %}
			</div>
		</div>
	{% endunless %}
</div>
<br>
<div class="container">
		<h2>#wikimediastore</h2>
		<a href="http://instagram.com/wikipediashop">Wikimedia Store on Instagram</a>
		<hr>
</div>

<div id="instagram"></div>
