<div class="container">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Search</li>
	</ol>
</div>

<div class="container">

	{% if search.performed %}

		{% paginate search.results by 10 %}

		{% if search.results_count == 0 %}
			<p class="centered">Your search for "{{ search.terms }}" did not yield any results.</p>
		{% else %}

		<div class="row">
		{% for item in search.results %}
			<div class="col-md-4 product_grid">
				<a
					href="{{ item.url }}"
					class="product_image"
					style="background-image: url({{ item.featured_image | product_img_url: 'grande' }})"></a>

				<a href="{{ item.url }}" class="product_details">
					{{ item.title }}
					<span class="price">{{ item.price }}</span>
				</a>
			</div>
		{% endfor %}
		</div>
	{% endif %}

	{% if paginate.pages > 1 %}
		<div id="pagination">
			{{ paginate | default_pagination }}
		</div>
		{% endif %}
	{% endpaginate %}

	{% endif %}

</div>
